---
import Layout from "../layouts/layout.astro";
---

<Layout title="About Us | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <body>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="pLT5muZk"></script>
<div id="fb-root"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="s8TBQHIL"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="ljDwzN08"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="GfyrBQiI"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="FJKp1XI1"></script>

<main class="main" id="about">

 <section id="about-top">

<div class="header-hero" style="background-image: url('/Backgrounds/Quality_Exterior.jpg');">
    <div class="hero-with-header">
      <h1 class="about-header" style="color: whitesmoke;">About Us</h1>
    </div>
    </div>

<div class="about-description">
<p>Quality Roofing of Indiana, LLC is a local family-owned and operated roofing company ready to help with your next residential or commercial roofing project. </p>
<p>Our qualified team has over 50 years of experience. </p>
<p>You can trust us when it comes to your next roof repair, roof inspection, roof maintenance, or roof replacement. From roofing to venting and siding to seamless gutters, we truly have you covered. </p>
<p>We deliver the same standard of quality, no matter the job size. We back up our work with a limited lifetime warranty on our products through Atlas Roofing, and also offer a lifetime workmanship warranty. </p>
<p>We believe in using the best product on the market, so we use Atlas quality roofing products. </p>
<p>Ready to work with us?</p>
<div class="button-container" style="text-align: center;padding: 0 1rem 0 1rem;">
<a href="/contact"><button class="cta-button" style="width:100%;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">Contact Us</button></a>
</div>
</div>
</section>

<section id="quality-companies">
<h2 id="companies" class="light-lines">Quality Companies</h2>
<p style="color: whitesmoke;text-align: center;" id="page-description">
    All your home needs under one roof.
</p>
<div class="company-container">
    
<div class="card-holder">
    <div class="company" id="Rentals">
        <img src="/Logos/SHLLC_transparent.png" loading="lazy" alt="Other Quality Companies" style="float:right; margin: 0.5rem 0.5rem 0 0; height:4rem;">
    <dl class="card-info">
        <dt class="name">Christa Summerville</dt>
        <dt class="title">Sales Manager</dt>
        <dt class="business">Southard Homes LLC</dt> 
            <dd><label>Phone</label> 812-243-2759</dd>
            <dd><label>Email</label> Christa.southardhomesllc@gmail.com </dd>
    </dl>
    <p class="card-bottom">M-F 8am-5pm | 3601 N. Fruitridge Ave</p>
    </div>
</div>

    <div class="card-holder">
<div class="company">
    <div class="logo-title">
    <img loading="lazy" style="height:3rem;margin-top:1rem;"src="/Logos/quality-companies.png" alt="Other Quality Companies">
    <p>Electric</p>
    </div>
<dl class="card-info">
    <dt class="name">Doug Wilkins</dt>
    <dt class="title">Journeyman/Manager</dt> 
    <dt class="business">Quality Electric of Indiana, LLC</dt>
        <dd><label>Phone</label> 812-872-8376</dd>
        <dd><label>Email</label> doug@qualityelectric.net </dd>
</dl>
<p class="card-bottom">M-F 8am-5pm | 3601 N. Fruitridge Ave</p>
</div>
</div>

<div class="card-holder">
<div class="company">
    <img src="/Logos/SHLLC_transparent.png" loading="lazy" alt="Other Quality Companies" style="float:right; margin: 0.5rem 0.5rem 0 0; height:4rem;">
<dl class="card-info">
    <dt class="name">Amber Southard</dt>
    <dt class="title">Project Manager</dt> 
    <dt class="business">Southard Homes LLC</dt>
        <dd><label>Phone</label> 812-870-6538</dd>
        <dd><label>Email</label> Amber.southardhomesllc@gmail.com </dd>
</dl>
<p class="card-bottom">M-F 8am-5pm | 3601 N. Fruitridge Ave</p>
</div>
</div>

</section>

<section id="careers">
    <div class="career-container">
        <h4 style="color:whitesmoke; text-align: center;">Looking for a job?</h4>
        <p style="color:whitesmoke;">Check for available positions on <a href="https://www.indeed.com/cmp/Southard-Homes-LLC/jobs" style="font-weight:600;" target="_blank">Indeed</a>.</p>
    </div>
</section>

</div>
</section>
</body>
</main>
<hr>
</Layout>

<style>
    #about-top {
        width: 100%;
        background: whitesmoke;
        padding-bottom: 1rem;
    }

    .header-hero {
        background-size: cover;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
    }

    .hero-with-header {
        backdrop-filter: brightness(50%);
        padding: 3rem 0;
        height: 100%;
        width: 100%;
        display: flex;
    }

        .about-header {
            text-shadow: 0rem 4rem 4rem 0rem #000000;
            background-blend-mode:exclusion;
            padding: 2rem;
        }

        .about-description {
            padding: 1rem 1rem;
        }

    #quality-companies {
        padding-top: 2rem;
        background-color: #282828;
        display: flex;
        flex-direction:column;
        justify-content:center;
        width: 100%;
    }

    .company-container {
        display: flex;
        flex-direction:column;
        justify-content:center;
        gap: 0 1rem;
        padding: 0 1rem 2rem 1rem;
    }

    .card-holder {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .company {
        background: whitesmoke;
        border-radius: 2px;
        box-shadow: 5px 5px 5px #141414;
        transition: all .4s ease-in-out;
        max-width: 20rem;
        margin: 0 auto;
    }

    .company:hover {
        background-color: white;
        transform: scale(1.03);
    }

    .company img {
        max-width: auto;
        max-height: 5rem;
        margin-bottom: -0.3rem;
    }

    .logo-title {
        float: right;
        font-family: calistoga;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .logo-title p {
        margin-left:1rem;
    }

    .card-info {
margin: 1rem 0 0 1rem;
padding: 0;
    }

    .card-info .title {
        font-size: 0.7rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    .card-info .business {
        font-size: 0.7rem;
        font-weight: 400;
        margin-top:-0.5rem;
    }

    .card-info .name {
        margin-bottom: -0.2rem;
    }

    .card-info .title .name {
        margin: 0;
        padding: 0;
    }

    .card-bottom {
        font-size: 0.7rem;
        padding: 1rem 0 0 0;
        margin: 0;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .card-info dd{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    .card-info dd label {
        font-weight: 600;
        text-transform: uppercase;
        font-size:0.6rem;
        color: gray;
    }

    #careers {
        background-color: #282828;
    }

    .career-container {
        color: whitesmoke;
        padding-bottom: 1rem;
        text-align: center;
    }

    .career-container a {
        color: #1898F3;
    }

</style>