---
import Layout from "../layouts/layout.astro";
---

<Layout title="A11y | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <main class="main" id="main">
 <section id="legal">
    <h2 class="light-lines" style="padding: unset;margin: unset;">A11y</h2>
<div class="legal-text">
<p style="color:whitesmoke;">
Quality Roofing of Indiana, LLC is dedicated to ensuring that our website is accessible to everyone, regardless of their abilities.</p> 
<p style="color:whitesmoke;">We are actively working to meet the highest standards of accessibility by using tools and procedures that verify and enhance the accessibility of our website. </p>
<p style="color:whitesmoke;">If you encounter any accessibility barriers or have suggestions for improvement, please contact us at kristen.southardhomesllc@gmail.com.</p>
<p id="page-description" style="color:whitesmoke;text-align:center">Thank you.</p>
<!-- * What steps have you taken to ensure your website is accessible to users with disabilities?<br/>
* Do you follow specific accessibility guidelines or standards (e.g., WCAG 2.1)?<br/>
* Do you provide alternative ways for users to access your services if they encounter accessibility barriers on your website?<br/>
* How can users contact you to report accessibility issues or request accommodations?<br/> -->
</div>
</section>
<hr>
</main>
</Layout>

<style>
   
   #legal {
    background-color: var(--color-bg);
    color: whitesmoke;
    padding-top:1rem;
   }

   .legal-text {
    padding: 1rem;
   }
</style>