---
import Layout from "../layouts/layout.astro";
---

<Layout title="Other Legal | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <main class="main" id="main">
 <section id="legal">
    <h2 class="light-lines" style="padding: unset;margin: unset;">Privacy Policy</h2>
<div class="legal-text">
   <h4>Form Fields & Other Data</h4>
<p style="color:whitesmoke;">At Quality Roofing of Indiana, LLC, we take your privacy seriously.</p>
<p style="color:whitesmoke;">The information collected through our free estimate form, including your name, phone number, email, service area, and service requested, is used solely for our sales manager to contact you regarding your inquiry. </p>
<p style="color:whitesmoke;">This information is not stored, sold, or given away to any third parties. Once contact has been made, your information is discarded. </p>
<p style="color:whitesmoke;">While we do not currently have a system for updating or correcting your data due to its non-storage, we are committed to exploring secure methods to protect user privacy and data integrity.
</p> 
<h4>Cookie Disclaimer</h4>
<p style="color:whitesmoke;">
   Our website may use cookies to enhance your browsing experience. Cookies are small data files stored on your device that help us understand how you use our site and improve its functionality. If we implement hotmapping or other tracking tools in the future, we will update this policy accordingly. You can manage your cookie preferences through your browser settings.</p>

<!-- Questions:
- What type of personal information do you collect from users (e.g., name, email, phone number)?
- How do you collect this information (e.g., contact forms, newsletter subscriptions)?
- How do you use the collected information (e.g., marketing, customer service)?
- Do you share user information with third parties? If so, for what purposes?
- How do you store and protect user data?
- Do you have a process for users to request access to, correction, or deletion of their data? 

# Cookies

Do you use cookies or similar technologies to track user behavior on your website?
What types of cookies do you use (e.g., essential, analytics, marketing)?
Do you provide users with options to manage their cookie preferences?

-->

<p id="page-description" style="color:whitesmoke;text-align:center">Thank you.</p>
</div>
</section>
<hr>
</main>
</Layout>

<style>
   
   #legal {
    background-color: var(--color-bg);
    color: whitesmoke;
    padding-top:1rem;
   }

   .legal-text {
    padding: 1rem;
   }
</style>