---
import Layout from "../layouts/layout.astro";
---

<Layout title="Other Legal | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <main class="main" id="main">
 <section id="legal">
    <h2 class="light-lines" style="padding: unset;margin: unset;">Sitemap</h2>
<div class="legal-text">
<p style="color:whitesmoke;"></p> 
<!-- TODO: Create sitemap / https://docs.astro.build/en/guides/integrations-guide/sitemap/ -->
<!-- What main sections and pages does your website include?
Do you frequently update or add new content to your website?
Would you prefer a simple HTML sitemap or an XML sitemap for search engines? -->
<p id="page-description" style="color:whitesmoke;text-align:center">Thank you.</p>
</div>
</section>
<hr>
</main>
</Layout>

<style>
   
   #legal {
    background-color: var(--color-bg);
    color: whitesmoke;
    padding-top:1rem;
   }

   .legal-text {
    padding: 1rem;
   }
</style>