---
import Layout from "../layouts/layout.astro";
---

<Layout title="Other Legal | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <main class="main" id="main">
 <section id="legal">
    <h2 class="light-lines" style="padding: unset;margin: unset;">Other Legal</h2>
<div class="legal-text">
    <h4>Accuracy Disclaimer</h4>
    <p style="color:whitesmoke;">We strive to provide accurate and up-to-date information on our website, but we cannot guarantee the completeness or accuracy of all content.
    </p> 
    <h4>Atlas Roofing Disclaimer</h4>
    <p style="color:whitesmoke;">We do not represent or work for Atlas Roofing. Any references to Atlas Roofing are for informational purposes only.
    </p>
    <h4>Limitation of Liability</h4>
    <p style="color:whitesmoke;">Quality Roofing of Indiana LLC is not liable for any damages arising from the use of this website or its content.
    </p> 
    <h4>Fraud and Scam Alerts</h4>
    <p style="color:whitesmoke;">Be aware of roofing and home contracting scams in the Wabash Valley. Legitimate roofing companies will:
    </p> 
    <ul>
        <li>- Provide clear and detailed estimates.</li>
        <li>- Have a physical business address and contact information.</li>
        <li>- Not ask for full payment upfront.</li>
        <li>- Be able to show proof of insurance and licensing.</li>
    </ul>
    <p style="color:whitesmoke;padding-top:1rem;">If you suspect a scam, report it to local authorities or consumer protection agencies. Always verify the credentials of any contractor you work with.
    </p> 
    <h4>Legal Concerns</h4>
    <p style="color:whitesmoke;">For any legal inquiries or issues related to our policies, please call or otherwise contact us.
    </p> 
    <h4>Credits</h4>
    <p style="color:whitesmoke; display: inline-flex;gap: 0.25rem;">Thanks to Tanah Basah for this cute chicken icon in her <a href="https://www.flaticon.com/free-icons/zoology" title="zoology icons" target="_blank">Zoology icons</a> collection. <img src="src/images/icons/chicken(2).png" alt="Cute chicken icon." style="height: 1.25rem;"></p> 
</div>
</section>
<hr>
</main>
</Layout>

<style>
   
   #legal {
    background-color: var(--color-bg);
    color: whitesmoke;
    padding-top:1rem;
   }

   .legal-text {
    padding: 1rem;
   }
</style>