---
import Layout from "../layouts/layout.astro";
---

<Layout title="Other Legal | Quality Roofing Services in Terre Haute, IN | Local Roof Replacement & Repair">
    <main class="main" id="main">
 <section id="legal">
    <h2 class="light-lines" style="padding: unset;margin: unset;">Terms of Service</h2>
<div class="legal-text">
<p style="color:whitesmoke;">By using this website, you agree to the following terms:</p> 
   <h4>Copyright</h4>
   <p style="color:whitesmoke;">The content provided on this site, including text, images, and graphics, is protected by copyright laws. You may not reproduce, distribute, or use our content without prior written permission. 
      <!-- Feel free to steal my code though, wassup fellow nerds ;) -KS -->
   </p>
   <h4>Abuse of Information</h4>
   <p style="color:whitesmoke;">Consistent with Indiana's crimes of <a href="https://law.justia.com/codes/indiana/title-35/article-45/chapter-10/section-35-45-10-2/" target="_blank">harrassment</a> (a class B misdemeanor), <a href="https://law.justia.com/codes/indiana/title-35/article-45/chapter-2/section-35-45-2-1/" target="_blank">intimidation</a> (a class A misdemeanor), and <a href="https://law.justia.com/codes/indiana/title-35/article-45/chapter-10/section-35-45-10-5/" target="_blank">stalking</a> (a Level 6 felony), 
       the use of this website's information, or that if its associated social media page, to bring such harm to representatives of Southard Homes LLC and/or its subsidiaries and/or its customers may be punished to the full extent of the law in addition to civil action.
   </p>
   <h4>Reviews</h4>
   <p style="color:whitesmoke;">We value genuine feedback from our customers. Please refrain from abusing our review portals for personal grievances. If you have any concerns, contact us directly for resolution.
   </p> 
   <p style="color:whitesmoke;">Any violation of these terms may result in legal action to protect our rights and enforce our policies.
   </p>

<!-- Do you offer any online services or products that users need to agree to use?
Are there any specific rules or guidelines users must follow when interacting with your website?
Do you have policies regarding user-generated content or user conduct?
What actions can you take if a user violates your terms (e.g., account suspension, legal action)? -->

<p id="page-description" style="color:whitesmoke;text-align:center">Thank you.</p>
</div>
</section>
<hr>
</main>
</Layout>

<style>
   
   #legal {
    background-color: var(--color-bg);
    color: whitesmoke;
    padding-top:1rem;
   }

   .legal-text {
    padding: 1rem;
   }
</style>