<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-green-100 px-2 py-2 sm:px-3.5 sm:before:flex-1">

    <div class="flex flex-wrap items-center gap-x-4">
      <p class="text-sm/6 text-gray-900 p-0">
        <strong class="font-semibold">Spring Deal!</strong> Enjoy special pricing until <strong>May 1st.</strong>
      </p>
      <a href="tel:8128700447" class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-xs hover:bg-[#0056b3] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Call Now <span aria-hidden="true">&rarr;</span></a>
    </div>
    <div class="flex flex-1 justify-end">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
      </button>
    </div>
  </div>