---
import '../styles/global.css';
import '../styles/responsive.css';
import Banner from './Banner.astro';
---

<a href="#main" class="skip-link">Skip to main content</a>

<header>

  <div class="logo">
    <a href="/" aria-label="Quality Roofing of Indiana, LLC">
        <img
            alt="Quality Roofing of Indiana, LLC"
            class="logo"
            loading="lazy"
            src="/Logos/QualityRoofingTransparent - 1.png"
            style="width:auto;max-height:3rem; 
-webkit-filter: drop-shadow(5px 5px 5px #141414); 
filter: drop-shadow(5px 5px 5px #141414);"
        />
    </a>
</div>

    <nav class="navbar" id="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
                <li><a href="/services/">Services</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/about/">About</a></li>
                <li><a class="last-nav" href="/contact/">Contact</a></li>
            </li>
        </ul>
        </nav>
        
        <div class="telephone">
                <a href="tel:812-870-0447"><span style="color:#1898F3"><strong>812-870-0447</strong></span></a>
            </div>
</header>
<Banner/>
<style>
    .skip-link {
    color: var(--color-bg);
    font-size: 0em;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skip-link:focus, .skip-link:active {
    color: var(--color-cta-btn);
    font: Calistoga;
    font-size: 1em;
    z-index: 2000;
}

header {
    background-color: rgba(40, 40, 40, 0.95);
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    position: sticky;
    backdrop-filter: blur(2px);
    top: 0;
    transition: 0.5s;
    padding: 1rem;
  }

  header ul li a {
    text-decoration: none;
    color: var(--color-heading);
    /* display: block; */
    transition: 0.5s;
    padding: 1rem;
    list-style-type: none;
  }

  header ul li a:active {
    color: var(--color-heading);
  }

  header ul li a:visited {
    color: var(--color-heading);
  }

  header ul li a:hover {
    color: var(--color-cta-btn);
  }

.navbar ul, .navbar ul:visited {
display: flex;
justify-content: space-around;
}

nav.navbar ul li a{
font-family: Calistoga;
font-weight: 400;
}

.logo {
flex: 1;
}

.telephone {
  flex: 1;
  display: flex;
  align-items:start;
justify-content: center;
}

.phone-number {
  display: none;
}

@media screen and (min-width: 1020px) {

  .telephone a{
display: flex;
padding: 0.5rem 0.5rem 0 0.5rem;
  }

.phone-icon-svg {
  align-content: baseline;
}

  #phone-btn-numb {
display: unset!important;
}

.phone-number {
display: inline-flex!important;
align-items: baseline;
color: #1898F3;
}
}

</style>