---
import "../styles/global.css";
import "../styles/responsive.css";


const year = new Date().getFullYear()
---

<footer>
    
    <div class="biz-info-and-companies">  
        
        <!-- <div class="about-mini" aria-label="Footer"> -->
            
        <div class="biz-info">
            <h4 class="footer-head">Quality Roofing of Indiana, LLC</h4>
        <strong>Location:</strong> 3601 N Fruitridge Ave Terre Haute, IN 47805<br/>
        <strong>Hours:</strong> 8am-5pm Monday to Friday<br/>
        <div class="service-areas">
        <strong>Service Areas:</strong>
        Proudly serving
        <a href="/Vigo" aria-label="Vigo County">Vigo</a>, 
        <a href="/Parke" aria-label="Parke County">Parke</a>,
        <a href="/Vermillion" aria-label="Vermillion County">Vermillion</a>,
        <a href="/Sullivan" aria-label="Sullivan County">Sullivan</a>,
        <a href="/Greene" aria-label="Greene County">Greene</a>, and
        <a href="/Knox" aria-label="Knox County">Knox</a> Counties.
    </div>
</div>

<div class="quality-companies">
<div class="quality-description">
    <p>Got a job? Consider some other Quality companies.</p>
</div>
    <div class="logo-and-companies">
    <div class="quality-logo">
<img loading="lazy" src="/Logos/quality-companies.png" id="quality-logo">
</div>
<div class="quality-comp-links">
<ul class="quality-links">
<li aria-label="Current Website: Quality Roofing"><strong>Roofing</strong></li>
<li><a href="/about#companies" aria-label="Quality Rentals">Rentals</a></li>
<li><a href="/about#companies" aria-label="Quality Electric">Electric</a></li>
<li><a href="/about#companies" aria-label="Quality Excavating">Excavating</a></li>
<li><a href="/about#companies" aria-label="Quality Home Services">Home Services</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="copyright">
    <small>
    Copyright <span id="footer-year">{year}</span> &#169; Quality Roofing of Indiana, LLC, all Rights Reserved.
    </small>
    </div>
<div id="legal-links">
        <small><a href="/Legal_sitemap" aria-label="Sitemap">Sitemap</a> | 
        <a href="/Legal_Privacy" aria-label="Privacy">Privacy</a> | 
        <a href="/Legal_TOS" aria-label="Terms of Service">Terms</a> | 
        <a href="/Legal_A11y" aria-label="Accessibility">Accessibility</a> |
        <a href="/Legal_other" aria-label="Other Legal Pages">Other</a></small>
    </div>
    <div class="socials">
    <a href="https://www.facebook.com/profile.php?id=100032091923541&__cft__[0]=AZVe5KSKKGQadH0wj2H8P_RqHu7I4h67MGeOKXt0Nq1YqkDJS8rxdwNcw5Z8432QD2-hHXj0yBKLGV9pMpbCzLUkf6PMkXvKESWzGvhxAdXLXb4x9dM8mpl0yKJX2_L1z4KfaWheFtyeOZA9hew591CN7AEVm0wS0AJwhAZD90fiCsNU8EYwmAi6wSG5s6_pmojrGIgJKdR5ErYUv5FvNcki&__tn__=-UC%2CP-R" aria-label="Visit us on Facebook" target="_blank" class="social-link"><svg class="facebook-icon" xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="whitesmoke" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg></a>
</div>
</div>

</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>