---
import "../styles/global.css"
---

<section class="hero">
    <!-- Background: Beautiful Majestic Shake in Vigo County, Aug. 2023 -->
<div class="hero-content">
        <div class="hero-headline">
    <h1 class="hero-head-main">Proudly Serving</h1> <h1 class="hero-head-sub">the Wabash Valley</h1>
        </div>

        <div class="hero-badges">
            <div class="badge" >
              <img loading="lazy" src="/badges/50YrsBadge.png" alt="A badge displaying 50 years of industry experience.">
              <p>50+ years of industry experience</p>
            </div>
            <div class="badge">
              <img loading="lazy" src="/badges/warranty.png" alt="A badge displaying great warranties.">
              <p>Backed by our brands & workmanship</p>
            </div>
            <div class="badge">
              <img loading="lazy" src="/badges/Storm Damage Specialists.png" alt="A badge displaying Quality Roofing's status as storm damage specialists.">
              <p>Storm damage experts</p>
            </div>
        </div>
        <div class="Cta-Link" id="hero-link" style="text-align: center;">
            <a href="tel:8128700447" id="service-button-padding">
                <button class="cta-button" id="service-button">
                    Call Now
                </button>
            </a>
        </div>
</div>
</section>

<style>

.hero {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(30, 30, 30, 1.5), rgba(30, 30, 30, 0.801), rgba(20, 20, 20, 0.247),rgba(10, 10, 10, 0)), url('/Backgrounds/HeroBkg.jpg');
    background-size: cover;
    background-position: center;
    filter: saturate(2);
    color: white;
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .hero-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    } 
        .hero-head-main {
            text-shadow: 1px 1px 10px #000000;
            font-size: 2.5rem;
            margin: 0 0 -1rem 0;
            padding: 0;
        }
            .hero-head-sub {
                font-size:2rem;
                text-align: center;
                text-shadow: 1px 1px 10px #000000;
                font-family: IBM Plex Sans;
                margin: 0;
                padding: 0;
                
            }
            .hero-headline {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

        .hero-badges {
            display: flex;
            justify-content: space-between;
            align-items: center;
            filter:brightness(200%);
            /* width: 100%; */
            padding: 3rem 2rem 1rem 2rem;
        }

            .badge {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                flex: 1;
                text-align: center;
            }

                .hero-badges img {
                    object-fit: contain;
                    width: 100%;
                    height: 4rem;
                    -webkit-backdrop-filter: drop-shadow(5px 5px 5px #141414);
                    filter:drop-shadow(5px 5px 5px #141414);
                }
                .badge p {
                    color: whitesmoke;
                    text-align: center;
                    text-shadow: 1px 1px 10px #000000;
                    padding-top:1rem;
                    font-size:var(--step--1);
                    width: 100%;
                }

/* **Background picture**
- Cropped in, Lowered exposure, increased saturation, increased highlights
- Subtle auto-zoom with changing picture */

    </style>
