---
import ShingleCard from "./ShingleCard.astro";
---
<style>
.slider-wrapper {
      width: 100%;
      position: relative;
      overflow: hidden;
      display: flex column;
      width: 100%;
      padding: 0 1rem;
    }

    .slides-container {
    height: 8rem;
    display: flex;
    gap: 0.5em;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    }

    .slides-container::-webkit-scrollbar {
        display: none;
    }

    .card-wrap {
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease, opacity 0.5s ease;
      }

    .slides-container::after {
        right: 0;
        transform: rotate(180deg);
    }

    .slides-container::before {
        left: 0;
    }

    .arrows {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
    }

    .slide-arrow {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 100ms;
    display: inline-block;
    background: rgba(245, 245, 245, 0.8);
    border-radius: 50%;
    padding: .25rem;
}

 #ps-slide-arrow-next { 
  transform: rotate(180deg);
} 


@media screen and (min-width: 840px) {
.arrows {
  display: none;
}
}
</style>

<div class="slider-wrapper">
    <ul class="slides-container" id="ps-slides-container" role="list">
        <li class="ps-card-wrap" role="listitem" tabindex="0">
            <ShingleCard
            colorName="Coastal Cliffs"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Coastal-Cliffs_2023-04-04-165452_zttm.jpg"
            alt="Pinnacle Sun Coastal Cliffs"
            loading="lazy"
          />
        </li>
<li class="ps-card-wrap" role="listitem" tabindex="0">
          <ShingleCard
            colorName="Coral Canyon"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Coral-Canyon.jpg"
            alt="Pinnacle Sun Coral Canyon"
            loading="lazy"
          />
        </li>
<li class="ps-card-wrap" role="listitem" tabindex="0">
          <ShingleCard
            colorName="Moonlight Beach"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Moonlight-Beach.jpg"
            alt="Pinnacle Sun Moonlight Beach"
            loading="lazy"
          />
        </li>
<li class="ps-card-wrap" role="listitem" tabindex="0">
          <ShingleCard
            colorName="Sand"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Sand.jpg"
            alt="Pinnacle Sun Sand"
            loading="lazy"
          />
        </li>
<li class="ps-card-wrap" role="listitem" tabindex="0">
          <ShingleCard
            colorName="Surf"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Surf_2023-04-04-165454_ufci.jpg"
            alt="Pinnacle Sun Surf"
            loading="lazy"
          />
        </li>
          <li class="ps-card-wrap" role="listitem" tabindex="0">
          <ShingleCard
            colorName="Weathered Wood"
            backgroundImage="/Atlas/Pinnacle Sun/Sun_Cool-Weathered-Wood.jpg"
            alt="Pinnacle Sun Weathered Wood"
            loading="lazy"
          />
        </li>
</ul>

<div class="arrows">
<button class="slide-arrow" id="ps-slide-arrow-prev" tabindex="0" aria-label="Previous Slide">
    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 1024 1024"><path fill="#282828" d="M529.408 149.376a29.12 29.12 0 0 1 41.728 0a30.59 30.59 0 0 1 0 42.688L259.264 511.936l311.872 319.936a30.59 30.59 0 0 1-.512 43.264a29.12 29.12 0 0 1-41.216-.512L197.76 534.272a32 32 0 0 1 0-44.672zm256 0a29.12 29.12 0 0 1 41.728 0a30.59 30.59 0 0 1 0 42.688L515.264 511.936l311.872 319.936a30.59 30.59 0 0 1-.512 43.264a29.12 29.12 0 0 1-41.216-.512L453.76 534.272a32 32 0 0 1 0-44.672z"/></svg>
  </button>

<!-- <a href="/services/" target="_blank" class="shingle-link" style=""><p style="padding:0;margin:0;width:7rem;color:var(--color-cta-button);font-family: calistoga;">See More</p></a> -->
  
<button class="slide-arrow" id="ps-slide-arrow-next" tabindex="0" aria-label="Next Slide">
    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 1024 1024"><path fill="#282828" d="M529.408 149.376a29.12 29.12 0 0 1 41.728 0a30.59 30.59 0 0 1 0 42.688L259.264 511.936l311.872 319.936a30.59 30.59 0 0 1-.512 43.264a29.12 29.12 0 0 1-41.216-.512L197.76 534.272a32 32 0 0 1 0-44.672zm256 0a29.12 29.12 0 0 1 41.728 0a30.59 30.59 0 0 1 0 42.688L515.264 511.936l311.872 319.936a30.59 30.59 0 0 1-.512 43.264a29.12 29.12 0 0 1-41.216-.512L453.76 534.272a32 32 0 0 1 0-44.672z"/></svg>
  </button>
</div>
</div>

<script type="module">
  
  const slidesContainer = document.getElementById("ps-slides-container");
  const slide = document.querySelector(".ps-card-wrap");
  const prevButton = document.getElementById("ps-slide-arrow-prev");
  const nextButton = document.getElementById("ps-slide-arrow-next");
  
  nextButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft += slideWidth;
  });
  
  prevButton.addEventListener("click", () => {
    const slideWidth = slide.clientWidth;
    slidesContainer.scrollLeft -= slideWidth;
  });
  
  // touch-navigation
  
  let startX;
  let isSwiping = false;
  
  slidesContainer.addEventListener('touchstart', (e) => {
    startX = e.touches[0].clientX;
    isSwiping = true;
  });
  
  slidesContainer.addEventListener('touchmove', (e) => {
    if (!isSwiping) return;
      const touch = e.touches[0];
    const diffX = startX - touch.clientX;
    const deltaX = touch.clientx - startX;
  
    if (Math.abs(deltaX) > 10) {
      e.preventDefault();
    }
  
    if (Math.abs(diffX) > 50) {
      if (diffX > 0) {
        slidesContainer.scrollLeft += slide.clientWidth;
      } else {
        slidesContainer.scrollLeft -= slide.clientWidth;
      }
    }
  });
  
  slidesContainer.addEventListener('touchend', (e) => {
    if (!isSwiping) return;
    isSwiping = false;
  
    const endX = e.changedTouches[0].clientX;
    const deltaX = endX - startX;
  
    // Determine swipe direction
    if (deltaX > 50) {
      // Swipe Right
      prevButton.click();
    } else if (deltaX < -50) {
      // Swipe Left
      nextButton.click();
    }
  });
  
  //automatic focus management
  
  slidesContainer.addEventListener('focus', () => {
      slide[0].focus();
  }, {once:true });
  
  slidesContainer.addEventListener('blur', (e) => {       
  }, true);
  
  </script> 